In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_json("../refs/database.json")

In [6]:
df.head()

,description,group,id,manufacturer,nutrients,portions,tags
0,"Cheese, caraway",Dairy and Egg Products,1008,,"[{'value': 25.18, 'units': 'g', 'description':...","[{'amount': 1, 'unit': 'oz', 'grams': 28.35}]",[]
1,"Cheese, cheddar",Dairy and Egg Products,1009,,"[{'value': 24.9, 'units': 'g', 'description': ...","[{'amount': 1, 'unit': 'cup, diced', 'grams': ...",[]
2,"Cheese, edam",Dairy and Egg Products,1018,,"[{'value': 4.22, 'units': 'g', 'description': ...","[{'amount': 1, 'unit': 'oz', 'grams': 28.35}, ...",[]
3,"Cheese, feta",Dairy and Egg Products,1019,,"[{'value': 5.2, 'units': 'g', 'description': '...","[{'amount': 1, 'unit': 'cup, crumbled', 'grams...",[]
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,,"[{'value': 3.27, 'units': 'g', 'description': ...","[{'amount': 1, 'unit': 'oz', 'grams': 28.35}]",[]

```python
db_list=[]
for i in range(len(db)):
    db_list.append(pd.DataFrame(db[i],index=[0]))
```

In [10]:
print(range(len(df)))
print(df.describe())

range(0, 6636)
                 id
count   6636.000000
mean   15733.055304
std     8715.095274
min     1008.000000
25%    10170.750000
50%    14445.000000
75%    19188.250000
max    93600.000000

In [20]:
df_subset = pd.DataFrame(df.nutrients.iloc[1])
df_subset['id'] = df.id

In [21]:
df_subset.head()

                   description        group units   value    id
0                      Protein  Composition     g   24.90  1008
1            Total lipid (fat)  Composition     g   33.14  1009
2  Carbohydrate, by difference  Composition     g    1.28  1018
3                          Ash        Other     g    3.93  1019
4                       Energy       Energy  kcal  403.00  1028